body{
    background: linear-gradient(lavender, rgb(245, 245, 74));
}
.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
}
#btn-increment, #btn-descrement{
    margin-top: 30px;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #776e6e;
    background-color: #d1dbd5;
}
#btn-increment:hover, #btn-descrement:hover{
    cursor: pointer;
    border: 3px solid #776e6e;;
    background-color: #bad8c6;
}
#result{
    margin-top:30px
}
#lavanda{
    text-align: center;
}
.lavanda{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(236, 95, 95);
    ;
}