
body{
    width: 100%;
    height: 100hv;
    margin: 0;
    background-color: #9766A3;
    color: #F3D6FA;
    font-size: 16px;
    font-family:cursive;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/884/590/desktop-wallpaper-soft-lilac-aesthetic-purple-lilac.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  .formular{
    background-color: #9766A3;
    width: 80%;
     margin: auto;
      padding: 20px;
      max-width: 500px;
  
  }
  h1{
    color: #592A66;
    font-family: cursive;
  }
  p{
    color:#EEE1F0;
  }
  h1, p{
    text-align: center;
    margin: 1em auto;
  }
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
  fieldset{
    border: none;
     padding: 0.5em 0;
      border-bottom: 3px solid #652A74;
      text-align: center;
    }
    label {
      display: block;
      margin: 1rem 0;
    }
   .inline{
  padding:0.2rem;
   }
   input, textarea{
     background-color:#DABCE1;
     min-height: 30px;
   }
   legend{
     padding: 1.5rem;
   }
  