body{
    background-image: url(https://thumbs.dreamstime.com/b/hamburgers-burgers-hotdogs-fast-food-as-abstract-background-wallpaper-banner-texture-design-pattern-vector-blue-elegant-291610422.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#3c4c64;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div_nav{
    background: linear-gradient(to bottom right, #f1653a, #ff8c5f, #f7b27a, #f8bb89);
    align-items: center;
    border-radius: 2%;
    margin:50px 50px 50px 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right:10px;
    width: 80%;
    height: 80%;
    margin:50px 50px 50px 50px;
    opacity: 0.97;
} 
 
.header_burger{
    color: #162f4b;
    font-weight: strong;
    text-decoration-line: underline;
  text-decoration-style: double;
  font-size:xx-large;
}
.list{
    font-size: medium;
}
.highlights{
    display: block;
    text-align: left;
    
    
    font-weight: bold;
    background-color: rgb(154, 161, 192);
    color:#f74d36;
    border-radius: 5%;
    padding: 10px 10px 10px 30px;
    margin-left: 20px;
    font-size:larger;
    width:70%;
    height: 50px;
}
.code_list{
    display:block;
    text-align: left;
    font-weight: bold;
    background-color: rgb(154, 161, 192);
    color:#f74d36;
    border-radius: 5%;
    padding: 10px 10px 10px 40px;
    margin: 20px;
    font-size:medium;
    width:fit-content;
    height:fit-content;
}
