
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body{   
    display: block;
    font-family: Verdana, sans-serif;
    background-color: #ccc4c8;
    overflow-x: hidden
    

}
#header{ 
    top: 0;
    min-height: 75px;
    height: 130px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    position:fixed;
    background-color:#f7a7c8;
    width: 100%;
    font-size: x-large;
   
}
#crochet{
align-items: center;
display: block;
border-radius: 50%;
width: 30%;
height: 200%;
margin-bottom: 40px;
margin-top: -70px;
}
 
.logo > img {
    width: 180px;
    height: 120px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
.logo{
    width: 40vw;
}
nav > ul {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
#register{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    margin-top: 250px;
    padding: 30px;
}
#submit{
    display:block;
    margin-top: 20px;
    background-color:#cf0563;
    color:#f780b2;
    border:none;
    Border-radius: 5%;
    height: 40px;
    width: 100px;
    font-size:large;
}
a {
    color: #cc0d66;
    text-decoration: none;
    font-weight: 400;
}
a:hover{
    background-color: #f780b2;
    color:#6d0736;
}
#email{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto 20px;
}
#about_us{
    display: flex;
flex-direction: column;
text-align: justify;
margin: 250px auto;
padding: 20px auto;
width: 700px;
justify-content: center;

}
.department{
    display:flex;
    justify-content:flex-start;  
    
}
.icon{
font-size: xxx-large;
color:#cc0d66;
}
#products, #reviews{
    margin: 100px;
    display: block;
    align-items: center;
    justify-content: center;
    
}
h2{
    text-align: center;
    padding-bottom: 30px;
    color:#f56aa4;
}
#video{
display:block;
justify-content: center;
align-items: center;
}
#rev_photos{
    display:flex;
    justify-content: space-between;
    width:95%;
    margin-right: 25vw;
}
.rev{
    width:45vw !important;
    height: 65vh !important;
    display:flex;
    justify-content: space-around;
    padding: 1vw;
    
}
.footer{
    background-color: #f7a7c8;
    text-align: center;
    color:#030007;
    font-size: 20px;
    border-radius: 7px;
    padding: 20px;
    font-family: serif;
    font-size: x-large;
    align-items: center !important;
    display:block;
    width: 100%;
    justify-content: center;
    
    margin: auto;
  }
  .icons{
    color:#cf0563;
    font-size: 20px;
    font-family: serif;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    padding-left: 45%;
    padding-right: 45%;
  }
